<div class="py-8 px-4 document-styles info">
    <h2>開発者より</h2>
    <p>この度は、WS Reviewsをご利用いただき、誠にありがとうございます。</p>

    <p>
      このサイトは演劇のワークショップの感想やおすすめを共有するために作成しました。<br>
      私が積極的に演劇のWSに参加していた時、他の演劇人の感想を読んでWSに参加することが多かったです。
    </p>

    <p>
      WSの感想が記録に残して共有し、なるべく"良い"WSに参加してほしい、<br>
      強い言葉で言うとハラメントが起こるようなWSは避けてほしいと思い、<br>
      このサービスを作りました。
    </p>

    <p>至らぬ点がたくさんあると思いますが、どうぞご利用ください。</p>
</div>
