<header class="px-2 py-4 md:p-4 border-b border-gray-300 fixed w-full z-20 top-0 start-0 bg-[rgba(255,255,255,0.8)]">
  <div class="flex justify-between">
    <h1 class="flex items-center">
      <%= link_to root_path do %>
        <%= image_tag  'logo.png', class: 'block max-w-full w-[70px] md:w-[125px]' %>
      <% end %>
    </h1>

    <div class="flex">
      <form>
        <input type="text" class="mr-1 md:mr-3 w-40 md:w-64 h-8 md:h-10 rounded-3xl border-gray-300 shadow-sm focus:ring-[#c9e8f8] focus:border-[#c9e8f8]">
      </form>

      <button data-modal-target="authentication-modal" data-modal-toggle="authentication-modal" class="px-2 md:px-4 py-1 md:py-2 shadow rounded-lg bg-[rgb(115,207,223)] hover:bg-[rgb(105,189,204)] transition-colors text-sm md:text-base text-white" type="button">
        ログイン
      </button>
    </div>
  </div>
</header>
<%= render 'user_sessions/new' %>
