<header class="shadow px-2 py-4 md:p-4">
  <div class="flex justify-between">
    <h1>logo</h1>

    <div class="flex">
      <form>
        <input type="text" class="mr-1 md:mr-3 w-40 md:w-64 h-8 md:h-10 rounded-3xl border-gray-300 focus:ring-[#c9e8f8] focus:border-[#c9e8f8]">
      </form>

      <button class="mr-1 md:mr-3 md:px-4 md:py-2 text-[#ec6159]">ログイン</button>
      <button class="px-2 md:px-4 py-1 md:py-2 rounded bg-[#ec6159] text-white">新規登録</button>
    </div>
  </div>
</header>
