<% if object.errors.present? %>
  <div class="mb-8">
    <ul class="mb-0 text-[rgb(239,123,81)] font-semibold">
      <% object.errors.full_messages.each do |message| %>
        <% if message == 'URLを入力してください' %>
          <li><%= t('default.form.error.url') %></li>
        <% else %>
          <li><%= message %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>
