<footer id='footer' class="bg-[rgb(166,217,226)] text-white p-4">
  <div class='container text-center'>
    <div class="flex flex-wrap gap-8 justify-center mb-1">
      <div><%= link_to '利用規約', '#' %></div>
      <div><%= link_to 'プライバシーポリシー', '#' %></div>
    </div>
    <div class='copyright'>
      <div>
        <small>
          <span>© 2023 WS Reviews</span>
          <span><%= link_to 'Twitter', '#' %></span>
          <span><%= link_to 'github', '#' %></span>
        </small>
      </div>
    </div>
  </div>
</footer>
