<header class="shadow px-2 py-4">
  <div class="flex justify-between">
    <h1>logo</h1>

    <div class="flex">
      <button class="mr-3 px-4 py-2 rounded bg-yellow-100">検索</button>
      <button class="px-4 py-2 rounded bg-yellow-100">ログアウト</button>
    </div>
  </div>
</header>
