@import "@yaireo/tagify/dist/tagify.css";
@import "@yaireo/tagify/src/tagify.scss";
@import "./custom.css";

:root {
  -app-blue: rgb(201 232 248);
}

.tagify--focus {
  --tags-border-color: rgb(201 232 248);
  border-width: 2px;
}

.tagify__dropdown {
  border-radius: 0.5rem;
  border-color: rgb(201 232 248);
}

.tagify__dropdown__wrapper {
  border-color: rgb(201 232 248);
  border-radius: 0.5rem;
}

.tagify__dropdown__item {
  border-radius: 0.5rem;
  color: #374151
}

.tagify__dropdown__item--active {
  background: rgb(201 232 248);
  color: #374151
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
