<div class="flex justify-end px-4 pt-5 md:pl-8 md:pr-7 md:pt-6 text-xs text-gray-400">
  <%= link_to '新着順', reviews_path(by: 'created_at'), id: 'recent', class: 'flex items-center justify-center px-3 h-8 border border-gray-300 rounded-s-lg hover:bg-gray-100 select-button' %>
  <%= link_to '投稿順', reviews_path(by: 'created_at', sort: 'asc'), id: 'least-recent', class: 'flex items-center justify-center px-3 h-8 border-y border-gray-300 hover:bg-gray-100 select-button' %>
  <%= link_to '満足順', reviews_path(by: 'satisfaction'), id: 'satisfaction', class: 'flex items-center justify-center px-3 h-8 border border-gray-300 rounded-e-lg hover:bg-gray-100 select-button' %>
</div>

<%= javascript_include_tag "sort_button.js" %>
