<div class="mt-2 mb-6 flex flex-wrap gap-y-[0.2rem] gap-x-1">
  <% @review.tags.each do |tag| %>
    <span class="inline-block mr-1 text-sm rounded py-[2px] px-2 bg-[rgb(166,217,226)] text-white"><%= tag.name %></span>
  <% end %>
</div>
