<% if @reviews.present? %>
  <div>
    <% if @recommended_review.present? %>
      <%= render 'reviews/recommended_review', review: @recommended_review %>
    <% end %>
    <%= render @reviews %>
  </div>
<% else %>
  <div class="text-center pt-10 pb-4 md:pb-0"><%= t('default.message.favorites') %></div>
<% end %>
<div class="text-center my-4 md:my-0"><%= paginate @reviews %></div>
