<div class="py-8 px-4 mx-auto max-w-2xl">
  <div class="mb-4">
    <p class="text-sm text-[rgb(239,123,81)]"><%= t('.caution') %></p>
  </div>
  <%= render 'form', { review: @review, url: reviews_path, submit: 'reviews.new.submit' } %>
</div>
