<%= turbo_frame_tag 'remote_modal' do %>
  <div class="modal" data-controller="remote-modal" data-turbo-path="<%= @turbo_path %>">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title"></h3>
        </div>
        <div class="modal-body">
            <%= link_to 'Login with Twitter', auth_at_provider_path(provider: :twitter) %>
        </div>
      </div>
    </div>
  </div>

<% end %>
