<div class="p-4 md:p-0" id="toast-interactive" role="alert">
  <div class="shadow rounded-lg px-3 py-4 md:p-5 md:m-10 relative">
    <div>
      <div class="ms-3 font-normal">
        <h2 class="mb-2 font-semibold">WS Reviewsへようこそ！</h2>
        <p class="text-sm font-normal">お芝居のワークショップの感想を書いてみんなとシェアしましょう！<br>
        <span class="text-xs block mt-1"><i class="fa-solid fa-circle-exclamation"></i>レビュー/おすすめを投稿するにはX（旧Twitter）アカウントでのログインが必要です。</span></p>
      </div>
      <button type="button" class=" bg-white items-center justify-center flex-shrink-0 text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex h-8 w-8 absolute top-3 right-4" data-dismiss-target="#toast-interactive" aria-label="Close">
        <span class="sr-only">Close</span>
        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
        </svg>
      </button>
    </div>
  </div>
</div>
